{% load static %}
{% load staticfiles %}

<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page_usuarios.css' %}">

    <title> Administrador </title>
</head>

<!--Header-->
{% include 'header.html' %}

<body>
<div class="row" style="height: 5%"></div>
<div class="row">
    <div class="col-sm-2 form-inline"></div>
    <div class="col-sm-9">
        <h3>Administrador</h3>
    </div>
    <div class="col-sm-1 col-xs-0 form-inline"></div>
</div>

<div class="row">
    <div class="col-sm-2">
        <div class="text-center">
            <a href="/user/admin/users"><i class="material-icons" style="color: #bbb; font-size:3rem; margin: 0 auto;">group</i></a>
        </div>
        <div class="text-center">
            <a href="/user/admin/inventario"><i class="material-icons"
                                                style="color:#bbb; font-size:3rem; margin: 0 auto;">local_grocery_store</i></a>
        </div>
        <div class="text-center">
            <i class="material-icons" style="color:#08c602; font-size:3rem; margin: 0 auto;">schedule</i>
        </div>
    </div>
    <div class="col-sm-9">
        <h4 id="fecha" style="text-align: center;"></h4>
        <script>
            const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
                "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
            var date = new Date();
            if (date.getDay() > 5) {
                date.setDate(date.getDate() - (date.getDay() - 1) + 7 + 7 * parseInt("{{ semana_relativa }}"));
            }
            else {
                date.setDate(date.getDate() - (date.getDay() - 1) + 7 * parseInt("{{ semana_relativa }}"));
            }
            document.getElementById("fecha").innerHTML = "Semana del Lunes " + date.getDate().toString() + " de " + monthNames[date.getMonth()] + " " + date.getFullYear().toString();
        </script>
        <div id="grilla" class="container" style="align-content: center">
            <!--Grilla-->
            {% include 'grilla_before.html' %}
            <script>
                var paleta_colores = ["#feb236", "#66d", "#6d6", "#d66"];

                var array_nombres = [];
                {% for nombre in salas%}
                    array_nombres.push("{{ nombre }}");
                {% endfor %}

                {% for reserva in reserva_espacios%}

                    agregar_reserva("{{reserva.space.name}}", "{{reserva.state}}", parseInt("{{ reserva.dia_semana }}"),
                        {
                            hora: parseInt("{{ reserva.hora_inicial }}"),
                            minuto: parseInt("{{ reserva.minuto_inicial }}")
                        },
                        {
                            hora: parseInt("{{ reserva.hora_final }}"),
                            minuto: parseInt("{{ reserva.minuto_final }}")
                        },
                        paleta_colores[array_nombres.indexOf("{{ reserva.space.name }}") % paleta_colores.length],
                        0);
                {% endfor %}

                var index = 0;
                {% for nombre in salas%}
                    agregar_filtro("{{ nombre }}", paleta_colores[index % paleta_colores.length], index);
                    enable_filter("{{ nombre }}");
                    index++;
                {% endfor %}

            </script>
            {% include 'grilla_after.html' %}

            <script>

                d3.select("#boton_semana_siguiente_grilla")
                    .attr("xlink:href", "/user/admin/grilla/" + (parseInt({{ semana_relativa }}) + 1));

                d3.select("#boton_semana_anterior_grilla")
                    .attr("xlink:href", "/user/admin/grilla/" + Math.max(0, (parseInt({{ semana_relativa }}) - 1)).toString());

                d3.select("#boton_mes_siguiente_grilla")
                    .attr("xlink:href", "/user/admin/grilla/" + (parseInt({{ semana_relativa }}) + 4));

                d3.select("#boton_mes_anterior_grilla")
                    .attr("xlink:href", "/user/admin/grilla/" + Math.max(0, (parseInt({{ semana_relativa }}) - 4)).toString());

            </script>

        </div>

    </div>
</div>
<div class="col-sm-1 col-xs-0 form-inline"></div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-9">
        <div class="row" style="height: 7%">
            <div id="lista-reservas" class="col-sm-6">
                <h7 style="color:#A2A2A2;"> Reservas Pendientes</h7>
                <div class="row" style="height: 3%"></div>
                {% if reservas_pendientes %}
                    <div class="row">
                        <button type="submit" id="accept" name="accept" value="" class="btn btn-outline-success">
                                Aceptar Reservas <i class="material-icons">check_circle_outline</i>
                        </button>
                        <button type="submit" id="reject" name="reject" value="" class="btn btn-outline-danger">
                                Rechazar Reservas <i class="material-icons">cancel</i>
                        </button>
                    </div>
                    <table class="table">
                    <form action method="POST">{% csrf_token %}
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rsv in reservas_pendientes %}
                        <tr>
                            <td name="reserv_id" class="check p-1"><input type="checkbox" id="checkbox"
                                                                          class="checkthis" name="accept_id"
                                                                          value="{{ rsv.id }}"/></td>
                            <td>{{ rsv.user }}</td>
                            <td class="">{{ rsv.product }}</td>
                            <td>  <span class="badge badge-default"> Pendiente </span></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>No hay reservas pendientes.</p>
                {% endif %}
                </tbody>
                </form>
                </table>
            </div>


            <div class="col-sm-6">
                <h7 style="color:#A2A2A2;"> Historial de préstamos</h7>

                <a href="/user/admin/grilla/0"><i>Todos</i></a>
                <a href="/user/admin/grilla/0/0"><i>Vigentes</i></a>
                <a href="/user/admin/grilla/0/2"><i>Caducados</i></a>
                <a href="/user/admin/grilla/0/3"><i>Perdidos</i></a>

                <div class="row" style="height: 3%"></div>
                {% if prestamos %}
                    <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Usuario</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prestamo in prestamos %}
                        <tr>
                            <td>{{ prestamo.user }}</td>
                            <td>{{ prestamo.date }}</td>
                            <td>
                            <span class="badge
                  {% if prestamo.state == 0 %}
                    badge-warning"> Vigente
                            {% elif prestamo.state == 2 %}
                                badge-danger">Caducado
                            {% elif prestamo.state == 3 %}
                                badge-danger">Perdido
                            {% elif prestamo.state == 1 %}
                                badge-success">Recibido
                            {% endif %}
                            </span>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>No hay préstamos </p>
                {% endif %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

</body>

</html>
