{% load static %}
{% load staticfiles %}
{% load i18n %}


<html>

  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page_usuarios.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <!-- x-editable (bootstrap version) -->
    
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/css/jqueryui-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/js/jqueryui-editable.min.js"></script>

    <title> {{articulo.title}} </title>

  </head>

  <!--Header-->
  {%include 'header.html'%}

  <body>

    <div class="row" style="height: 5%"></div>
    <div class="row">
      <div class="col-sm-1 form-inline"></div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-6">
            <div class="row form-inline">

              <!--nombre de articulo y estado-->
              <h3>
                <span>
                  <a href="#" id="articulo{{articulo.id}}" data-type="text" data-pk="name" data-title="enter new name" data-url="{% url 'admin_article_detail' articulo.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ articulo.title }}</a>
                </span>
                <span class="badge
                  {% if articulo.status == 1%}
                    badge-success"><a id="state{{articulo.id}}" data-type="select" data-pk="state" data-title="enter new status" data-url="{% url 'admin_article_detail' articulo.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" href="#">Disponible</a> 
                  {% elif articulo.status == 0%}
                    badge-danger"><a id="state{{articulo.id}}" data-type="select" data-pk="state" data-title="enter new status" data-url="{% url 'admin_article_detail' articulo.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" href="#">En préstamo</a> 
                  {% elif articulo.status == 2%}
                    badge-danger"><a id="state{{articulo.id}}" data-type="select" data-pk="state" data-title="enter new status" data-url="{% url 'admin_article_detail' articulo.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" href="#">En reparación</a> 
                  {% elif articulo.status == 3%}
                    badge-danger"><a id="state{{articulo.id}}" data-type="select" data-pk="state" data-title="enter new status" data-url="{% url 'admin_article_detail' articulo.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" href="#">Perdido</a> 
                  {% endif %}
              </h3>

            </div>

            <!--imagen del articulo-->
            <a href="#" id="foto"><div class="row rounded" style="height:400px; background:url({{articulo.image.url}}) no-repeat center; background-size: cover;"></div></a>

            <form action="/user/admin/productos/{{articulo.id}}/" method="POST" enctype="multipart/form-data" id="form_tomaFoto{{page}}">{% csrf_token %}
              <input type="hidden" value="image{{articulo.id}}" name="image">
              <p><input type="file" accept="image/*" name="foto" required></p>
              <p><input type="submit" value="Enviar foto" class="boton"></p>
            </form>

            <div class="row" style="height: 2%"></div>

            <!--descripcion del articulo-->
            <div class="row jumbotron">
              <a href="#" id="description{{articulo.id}}" data-type="textarea" data-pk="description" data-title="enter new description" data-url="{% url 'admin_article_detail' articulo.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{articulo.description}}</a>
            </div>

          </div>

          <!--<div class="col-sm-6">
            <div class="row" style="height: 4%"></div>

            <hr>
            <h7 class="col-sm-12" style="color:#A2A2A2;">Solicitar reserva</h7>
            <div class="row" style="height: 3%"></div>

            <form class="col-sm-12">
              <small style="color:#A2A2A2;">Fecha Inicio</small>
              <div class="form-inline">
                <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control col-lg-8 col-sm-12">
                <input type="time" name="bday" max="23:59" min="00:00" class="form-control col-lg-4 col-sm-12">
              </div>
              <div class="row" style="height: 3%"></div>

              <small style="color:#A2A2A2;">Fecha Termino</small>
              <div class="form-inline">
                <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control col-lg-8 col-sm-12">
                <input type="time" name="bday" max="23:59" min="00:00" class="form-control col-lg-4 col-sm-12">
              </div>
              <div class="row" style="height: 3%"></div>
              <button type="submit" class="btn btn-primary">Reservar</button>
            </form>

            <div class="row" style="height: 17%"></div>
            <hr>

            <h7 class="col-sm-12" style="color:#A2A2A2;">Historial de reserva</h7>
            <div class="row" style="height: 3%"></div>

            <div class="col-sm-12">
              <table class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th scope="col">Inicio</th>
                    <th scope="col">Fin</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>02/06/2018 11:00</td>
                    <td>02/06/2018 12:00</td>
                    <td>En prestamo</td>
                  </tr>
                </tbody>
              </table>
            </div>-->

          </div>
        </div>
      </div>

      <div class="col-sm-1 form-inline"></div>
    </div>

    <script>
      $(document).ready(function() {
        $.fn.editable.defaults.mode = 'inline';   
        
        //make article name editable
        $('#articulo{{articulo.id}}').editable();
        
        //make article state editable
        $('#state{{articulo.id}}').editable({
            source: [
                {value: 1, text: 'Disponible'},
                {value: 0, text: 'En préstamo'},
                {value: 2, text: 'En reparación'},
                {value: 3, text: 'Perdido'},
            ],
        });

        $('#description{{articulo.id}}').editable();

      });
    </script>

  </body>

</html>
