{% load static %}

    <script src="{% static 'js/grilla/d3_modulo.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/grilla.css' %}">

	<script src="{% static 'js/grilla/iconos.js' %}"></script>
	<script src="{% static 'js/grilla/grilla_fondo.js' %}"></script>
	<script src="{% static 'js/grilla/grilla_funciones.js' %}"></script>
	<script src="{% static 'js/grilla/grilla_filtros_funciones.js' %}"></script>

	<script>
    	agregar_linea_hora();
	</script>

	<script src="{% static 'js/grilla/grilla_marcos.js' %}"></script>