<!DOCTYPE html>
{% load static %}
{% load staticfiles %}


<div>

    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <div id="header" class="row">

        <!-- Lado de la Izquierda del Header -->
        <div class="col-1 col-sm-1">
            <!-- Icono CEI -->
            <a href="http://www.cei.cl/"> <img src="/media/img/photos/logo-CEI.png" style="height:80px; "> </a>
        </div>

        <!-- Lado de la Derecha del Header -->
        <div class="col-11 col-sm-11">
            <div class="row justify-content-end align-items-center">

                <!-- Boton Cartita Email -->
                <button type="button" id="boton_email" class="btn" style="background-color:#ddd;">
                    <i class="material-icons" style="color:#bbb; font-size:3rem">mail</i>
                </button>

                <!-- Datos de Usuario -->
                <div style="margin: 0 20px 0 0">
                        <li id="nombre_usuario" style="text-align: right; font-size:1.5rem"> <i class="material-icons" id = "circulo_disponibilidad" style="color:#bbb; font-size:1rem;">fiber_manual_record</i>{{user.first_name}} {{user.last_name}}</li>
                        <li id="rut_usuario" style="text-align: right; font-size:0.75rem"> {{user.perfil.rut}} </li>
                        <li id="email_usuario" style="text-align: right; font-size:0.75rem"> {{user.email}} </li>
                </div>

                <!-- Foto de Perfil -->
                <div class="align-bottom">
                    <img id="foto_perfil" src="/media/img/photos/chiko-icon.png" alt="Avatar" style="width:60px;">
                </div>

                <!-- Boton Engranaje con el Dropdown -->
                <div class="btn-group">
                    <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height:82px; background-color:#ddd; border:0px solid transparent">
                        <i class="material-icons" style="color:#bbb; font-size:3rem">settings</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" style="position: absolute;">
                        <a id="configuracion_perfil" class="dropdown-item" href=".">Configuración Perfil</a>
                        <a id="cambiar_contrasena" class="dropdown-item" href=".">Cambiar Contraseña</a>
                        <a id="salir" class="dropdown-item" href="{% url 'sign_out' %}">Salir</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
