{% load static %}
{% load staticfiles %}

<html>

  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page_usuarios.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>

  <!--Header-->
  {%include 'header.html'%}

  <body>
  <div class="content container">
    <div class="row">
      <div class="col-md-8">
        <table style="width: 25%">
        {% if reservs %}
          <tr>
            <th></th>
            <th>Producto</th>
            <th>Estado</th>
            <th></th>
            <th></th>
          </tr>
          
            {% for rsv in reservs %}
            <tr>
            <td align="center"> 
              <form method="POST"> {% csrf_token %}
                <button name="remove" value=" {{ rsv.id }} ">X</button>
              </form>
            </td>
                <td align="center">{{ rsv.product }}</td>
                <td align="center"> {{ rsv.state }} </td>
          </tr>
            {% endfor %}
            </tr>
          {% else %}
              <p>No hay reservas.</p>
          {% endif %}
        </table>
      </div>
    </div>
  </div>
</body>

</html>
