<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load staticfiles %}

<html>
  <head>
    <title>Perfil de Usuario</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
      /*.active, .btn:hover {
        background-color: #666;
        color: white;
      }*/
      .tab-pane {
        background-color: #fff;
        color: #000;
      }
      .material-icons {
        vertical-align:-14%;
      }

    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  </head>

  <!--Header-->
  {%include 'header.html'%}

  <body>      

    <!--Botones de reserva y prestamo-->
    <div id="botones-principales-sitio" class="container" style="margin-top:40px">
      <div class="row">
        <div class="col-lg-6">
          <button style="height: 120px"  class="btn btn-lg btn-info btn-block">Reserva Tu Espacio</button>
        </div>
        <div class="col-lg-6">
          <button style="height: 120px" class="btn btn-lg btn-success btn-block">Pide Tu Articulo</button>
        </div>
      </div>
    </div>

    <!--Historial-->
    <div class="container" style="margin-top:20px; margin-bottom: 20px"> 

      <div class="d-flex border-bottom">
        <div class="p-2 mr-auto ">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active border border-dark border-bottom-0 btn btn-outline-secondary" data-toggle="tab" href="#historial-reservas">Reservas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn border border-dark border-bottom-0 btn-outline-secondary" data-toggle="tab" href="#historial-prestamos">Préstamos</a>
            </li>
          </ul>
        </div>
        <div class="p-2 ">
          <form method="POST">{% csrf_token %}
            <button id="delete-selected" name="delete" value="" class="delete btn btn-outline-danger" >Eliminar seleccionados <i class="material-icons">delete</i></button>
          </form>
        </div>
      </div>


      <!-- Tab panes -->
      <div class="tab-content">
        <div id="historial-reservas" class="tab-pane active"><br>

          <!--Historial de reservas-->
          <div class="row">
            <div id="lista-reservas" class="col-md-6 ">
              {% if reservs %}
                <div class="btn-group-vertical reservs-table p-0">
                  <!--<div id="a1" class="btn btn-md btn-outline-secondary border border-dark border-right-0 active" role="button">
                    <div class="float-left"><input type="checkbox" class="checkthis" name="id" value="{{latest_reserv.id}}" /></div>
                    <div class="float-left w-25">{{latest_reserv.product}}</div>
                    <div class="float-right"><kbd>{{latest_reserv.state}}</kbd></div>
                  </div>-->
                  {% for rsv in reservs %}  
                    <div class="d-inline-flex">
                      <div name="reserv_id" class="check p-2"><input type="checkbox" id="checkbox" class="checkthis" name="id" value="{{rsv.id}}"/></div>
                      <form method="POST" action="#/">{% csrf_token %}
                        <button value="{{rsv.state}};{{rsv.product.title}};{% language 'es' %}{{rsv.date}}{% endlanguage %};{{rsv.product.description}};{{rsv.product.image.url}} " name="reserva-activa" class="d-inline-flex btn asd btn-outline-secondary border border-dark border-right-0" role="button"> 
                          <div class="ml-auto">{{rsv.product}}</div>
                          <div class="mr-auto"><kbd>{{rsv.state}}</kbd></div>
                        </button>
                      </form> 
                    </div>
                  {% endfor %}
                </div>
              {% else %}
                <p>No tienes reservas registradas.</p>
              {% endif %}
            </div>

              <!--ficha con informacion de la reserva-->
              <div class="col-md-6 border-left border-right border-dark default-data" >

                {% include 'info_reserv.html' %}

              </div>
          </div>
        </div>

        <!--Historial de prestamos-->
        <div id="historial-prestamos" class="row tab-pane fade"><br>
          {% if loans %}
              <div class="btn-group-vertical col-md-12">
                {% for loan in loans %}
                  <a class="d-flex justify-content-between btn btn-md btn-outline-secondary border border-dark">
                    <div>{{loan.product}}</div>
                    <div><kbd>{{loan.state}}</kbd></div>
                    <div> 
                      {% language 'es' %}
                      {{loan.date|date}} 
                      {% endlanguage %}
                    </div>
                  </a>
                {% endfor %}
              </div>
            {% else %}
              <p>No hay prestamos.</p>
            {% endif %}
        </div>
      </div>
      

    </div>

    <!--Script JQuery para cambiar el estado activo segun el boton que se cliquee -->
    <script>
      $(".reservs-table > .d-inline-flex > .btn").click(function(){
        $(".btn-group-vertical > .d-inline-flex > .btn").removeClass("active");
        $(this).addClass("active");
        $.ajax({
          url: '{% url 'user'  %}',
          success: function(data) {
            $('.default-data').html(data);
          }
        });
      });
    </script> 

    <!--Script JQuery para mostrar el boton de Eliminar al cliquear un checkbox de reservas-->
    <script>
      $(document).ready(function() {
        var $checks = $("input[type='checkbox']").change(function() {
          var checked = $checks.is(':checked');
          $(".delete").toggle(checked);
        });
        $checks.first().change();
      });
    </script>

    <!--Script JQuery para pasarle al boton las reservas a eliminar (a traves del attr value)-->
    <script>
      $('#delete-selected').click(function() {
        var selected = [];
        $('.btn-group-vertical > .d-inline-flex > .check input:checked').each(function() {
          selected.push($(this).attr('value'));
        });
        $('#delete-selected').attr("value", selected);
      });
    </script>

  </body>
</html>
